/* Sidebar */
.side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header de la Sidebar */
.sidebar-header img {
  width: 100px;
  margin-bottom: 1rem;
}

/* Navigation dans la Sidebar */
.navv {
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Conteneur principal */
.dashboard-container {
  margin-left: 250px; /* Laisse de la place pour la sidebar */
  width: calc(100% - 250px); /* Prend tout l'espace restant */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de la page */
  padding: 1rem;
  overflow-y: auto;
}

/* Section principale du contenu */
.center {
  display: flex;
  flex-direction: column;
  width: 100%; /* Prend toute la largeur du conteneur */
  max-width: 1000px; /* Limite la largeur */
  height: auto;
}

/* Boutons pour ajuster la taille et espacement */
button {
  margin-top: 1rem;
}
